<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <uses-permission android:name="android.permission.CAMERA" />

    <!-- For device that support only runtime permissions use this -->
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"/>

    <!--
     For example, your app might show media content, such as photos or videos, that the user created while in your app.
     This permission in only required for device that run on Android 10. you don't need it on higher version -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>

    <!-- Declare hardware as optional -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidcores">
        <activity
            android:name=".PermissionsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Androidcores">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>